#spring {
    width: 150px;
    height: 50px;
    border-radius: 0;
    background-color: rgb(67, 173, 72);
    color: white;
    font-size: 1.25em;
    border: none;
}
#summer {
    width: 150px;
    height: 50px;
    border-radius: 0;
    background-color: rgb(221, 155, 56);
    color: white;
    font-size: 1.25em;
    border: none;
}
#autumn{
    width: 150px;
    height: 50px;
    border-radius: 0;
    background-color: rgb(75, 54, 11);
    color: white;
    font-size: 1.25em;
    border: none;
}
#winter {
    width: 150px;
    height: 50px;
    border-radius: 0;
    background-color: rgb(67, 154, 160);
    color: white;
    font-size: 1.25em;
    border: none;
}

